@page
@model RazorCurrencyConverter.Pages.ConverterModel
@{
    <header class=" jumbotron">
        <h1>Distance Converter</h1>
        <h2>By Vincent Assolutissimamente</h2>
        <p>
            This app will take one measurment and convert it into another
        </p>
    </header>
   


        }
