@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">VincentA55 CO550 Email Register</h1>

    <form method="post" class="mx-auto">
        <div class="form-group">
            <p>
                <label for="name">Name</label>
                <input asp-for="FullName"  type="text" name="name">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="email">
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <p class="alert-success"> @ViewData["Message"]</p>
</div>